  html, body {
      width   : 100%;
      height  : 99%;
      margin  : 0;
      }

#logo {
  width : 10%;
  height: 8%;
}
      #contient {
        align-content: space-between;
      }
   #renderCanvas {
      width   : 100%;
      height: 100%;
      touch-action: none;
      margin-right: 0px;
  }

  header {
    background-color: #656565;
    padding-top: 0px;
    margin-top: 0px;
  }

  html {
    background-color:  #D5D5D5;
  }

  #container{
    display : flex;
    flex-direction: column;
    justify-content: :center;
  }

  footer {
    background-color:#656565;
  }


#aside {
  flex-wrap: wrap;
}



  /* **************************
  	Holy Grail Layout with CSS Grid
  ************************** */

  .HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}


.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
  margin-left: 5px;
}


.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
